<h1>Lista de Usuários</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Data de nascimento</th>
			<th>E-mail</th>
			<th>Telefone</th>
			<th>Telefone 2</th>
			<th>CEP</th>
			<th>Logradouro</th>
			<th>Cidade</th>
			<th>Bairro</th>
			<th>UF</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody id="corpoTabelaUsuarios">
	</tbody>
</table>