.body5 {
    background-image: url('https://wallpaperaccess.com/full/1155007.jpg');
    background-position: center;
    background-size: cover;
}

.formulario {
    margin-top: 5%;
}

.formulario1{
    margin-top: 13%
}

.tituloedicao {
    margin-top: 19px;
    text-align: center;
    font: normal 40px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive !important;
}

.fontesenha {
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    color: #fcfcfc;
}


::placeholder {
    color: black !important;
    font-size: 15px;
    font-weight: 600;
}



textarea:focus, input:focus {
    color: black !important;
    font-size: 15px !important;
}


.botaoedicao {
    margin-top: 5%;
    margin-right: 18% !important;
}
