@model AplicacaoWebMVC.ViewModels.AutorViewModel

@{
	ViewData["Title"] = "Cadastrar";
}

<link rel="stylesheet" href="~/css/Autor/create.css" asp-append-version="true" />

<body class="body2">

	<h1> Mais um escritor(a) para nosso site! &#128525 </h1>

	<h5>Para fazer parte da equipe de autores da Poetry, por favor, preencha os campos a seguir:</h5>
	<hr />
	<form asp-action="Create" asp-controller="Autors" method="post">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 formulario">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label for="nome">Nome</label>
						<input type="text" class="form-control" asp-for="Nome" id="nome" name="Nome" placeholder="Digite nome" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="nome">CPF</label>
						<input type="text" class="form-control" id="cpf" asp-for="CPF" name="CPF" placeholder="000.000.000-00" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="datanascimento">Data de nascimento</label>
						<input type="date" class="form-control" id="datanascimento" asp-for="DataNascimento" name="DataNascimento" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="email">E-mail</label>
						<input type="email" class="form-control" id="email" asp-for="Email" name="Email" placeholder="Digite e-mail" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="telefone1">Celular</label>
						<input type="text" class="form-control" id="celular" asp-for="Celular" name="Celular" placeholder="Digite celular" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="cep">CEP</label>
						<input type="text" class="form-control" id="cep" asp-for="CEP" name="CEP" placeholder="00000-000" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="logradouro">Logradouro</label>
						<input type="text" class="form-control" id="logradouro" asp-for="Logradouro" name="Logradouro" placeholder="Endereço" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="bairro">Bairro</label>
						<input type="text" class="form-control" id="bairro" asp-for="Bairro" name="Bairro" placeholder="Bairro" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="cidade">Cidade</label>
						<input type="text" class="form-control" id="cidade" asp-for="Cidade" name="Cidade" placeholder="Cidade" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="uf">UF</label>
						<input type="text" class="form-control" id="uf" asp-for="UF" name="Uf" placeholder="UF" />
					</div>
				</div>
				<div class="col-sm-5 formulario">
					<div class="form-group">
						<label for="file">Escolher foto</label>
						<input type="file" class="form-control transparent-input transparente" asp-for="FotoPerfil" id="file" name="File">
					</div>
				</div>
				<span class="group-btn">
				    <button type="submit" class="btn btn-danger btn-md botaocadastro1">Salvar <i class="bi bi-check2"></i></button>
					<a asp-controller="Autors" asp-action="Autores" class="btn btn-danger btn-md botaocadastro">Lista <i class="bi bi-arrow-bar-right"></i></a>
				</span>
			</div>
		</div>
	</form>
</body>

@section Scripts {
<script src="~/js/Autor/cadastroAutor.js" asp-append-version="true"></script>
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
